MarbleUE4_11/Intermediate/
MarbleUE4_11/DerivedData/
MarbleUE4_11/Saved/

*.xcworkspacedata

*.xcsettings

MarbleUE4_11/Binaries/IOS/Payload/Info.plist




*.sln

*.db

MarbleUE4_11/MarbleUE4_11.VC.db
